@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
   
}
.d-flex{
    display: flex;
    margin-bottom: 20px;
}
section{
    padding: 40px;
}
#sec1{
    display: flex;
}
.w-50{
    width: 50%;
}
.active{
    color: orange;
}
.bleft{
    border-radius: 5px;
    padding-left: 5px;
    border-left: 8px solid rgb(255, 238, 0);
}
.bleft h1{

    font-size: 66px;
}
#sec1 p{
    font-size: 28px;
    text-align: justify;
    padding: 10px;
    margin-bottom: 10px;
}
.btn1{
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 10px 35px;
    font-size: 25px;
    border-radius: 10px;
    font-style: normal;
}
.personimg1{
    margin-top: -80px;
    margin-left: 100px;
    background-position: center;
    width: 400px;
    height: 500px;
    

}
p{
   
    font-size: 22px;
}
#sec2 h1{
    text-align: center;
   font-size: 45px;
   font-family: 'Poppins', sans-serif;
   font-weight: 800;
   margin-bottom: 20px;
}
.sec2cards{
    display: flex;
    justify-content: space-around;
}
.card{
    width: 360px;
    background-color: gainsboro;
    padding: 15px;
    border-radius: 26px;
    
}
.card img{
    width: 150px;
    height: 150px;
}
.card h3{
    font-size: 25px;
    padding:15px;
    font-family: 'Poppins', sans-serif;
}
.card p{
    padding-left: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.sec2card1{
    background: rgba(79, 157, 166, 0.1);;
}
.sec2card2{
    background: rgba(145, 199, 137, 0.5);;
}
.sec2card3{
    background: rgba(48, 104, 96, 0.418);;;
}

#sec3 div div img{
    width: 80%;
    margin-left: 20px;
}
.devcard{
    padding-left: 20px;
}
.devcard h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 54px;
    padding:10px 0 ;
}
.devcard p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 40px;
}
#sec4 h1{
    text-align: center;
    font-size: 45px;
    font-weight: 900;

}
#sec4 ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 20px;

}
#sec4 ul li img{
    height: 50px;
    width: 50px;
}
#sec4 ul li a{
    text-decoration: none;
    margin-left: 20px;

}
footer{
    background: black;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}
footer h1{
    font-style: italic;
}
